<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Intro',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="partners-intro">
    <SlpContainer>
      <SlpRow>
        <SlpColumn
          :cols="data.column_size || 12"
          class="partners-intro__container"
        >
          <SlpTypography
            v-if="data.intro_text"
            tag="h2"
            variant="heading5"
            class="slp-my-24 customer-logos__intro-text"
            >{{ data.intro_text }}</SlpTypography
          >
          <a
            v-for="(logo, index) in data.logos"
            :key="`${logo.name}-${index}`"
            class="partners-intro__link"
            :class="{ 'partners-intro__link__cards': data.as_cards }"
            :href="logo.url"
            :data-aos="logo.aos_animation"
            :data-aos-duration="logo.aos_duration"
            :aria-label="logo.aria_label ? logo.aria_label : ''"
          >
            <nuxt-img
              class="partners-intro__container__image"
              :class="{
                'partners-intro__container__image__cards': data.as_cards,
              }"
              :src="logo.image"
              :alt="logo.name"
            />
          </a>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.partners-intro {
  padding-top: $spacing-48;
  margin-bottom: $spacing-160;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -$spacing-16;

    @media (max-width: $breakpoint-md) {
      justify-content: space-around;
    }
  }

  &__link {
    transition: all 0.3s ease-in-out;
    max-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.05);
    }

    &__cards {
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      min-width: 153px;
      margin: 0 $spacing-16;

      img {
        margin: $spacing-24;
      }

      @media (max-width: $breakpoint-md) {
        margin: $spacing-16;
      }
    }

    img {
      height: auto;
      width: 80px;
      object-fit: contain;

      @media (max-width: $breakpoint-md) {
        width: 100px;
        margin: $spacing-24 $spacing-16;

        &__intro-text {
          width: 100%;
          text-align: center;
          margin-top: 0;
        }
      }
    }
  }
}
</style>
