<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'BlurbGrid',
  components: {},
  props: {
    data: {
      type: Array,
      required: true,
      default: null,
    },
  },
  data() {
    return {};
  },
  methods: {},
});
</script>

<template>
  <div class="blurb-grid">
    <SlpContainer>
      <SlpRow class="slp-align-items-center">
        <SlpColumn v-for="item in data" :key="item.title" :col="3">
          <div class="slp-mr-md-32 blurb-grid__card">
            <SlpIcon
              v-if="item.icon?.name"
              :name="item.icon.name"
              :variant="item.icon.variant"
              :size="item.icon.size"
              class="slp-mb-8"
              slp-color="surface-700"
            />
            <SlpTypography tag="h5" variant="body1-bold">
              {{ item.title }}</SlpTypography
            >
            <SlpTypography tag="p" variant="body2" class="slp-mt-8"
              ><span v-html="item.blurb"></span>
            </SlpTypography>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.blurb-grid {
  margin-top: $spacing-24;
  margin-bottom: $spacing-24;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $spacing-96;
    margin-top: $spacing-64;
  }
  @media (min-width: $breakpoint-lg) {
    margin-bottom: $spacing-160;
  }
  &__card {
    margin-bottom: $spacing-32;
    @media (min-width: $breakpoint-md) {
      margin-bottom: 0;
    }
  }
  :deep a:not(.slp-btn) {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
</style>
