<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'KubeconLightingTalk',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer
    class="kubecon-lighting-talk"
    :class="`kubecon-lighting-talk--${data.layout}`"
  >
    <div class="kubecon-lighting-talk__content">
      <div class="kubecon-lighting-talk__header">
        <img src="/nuxt-images/icons/events/bulb-bolt-black.svg" />
        <SlpTypography variant="heading5-bold" tag="h3" class="slp-pl-8">
          {{ data.title }}:
        </SlpTypography>
      </div>
      <div class="kubecon-lighting-talk__grid">
        <div
          v-for="(item, index) in data.list"
          :key="index"
          class="kubecon-lighting-talk__grid-item slp-pb-24"
        >
          <img class="slp-pr-8" src="/nuxt-images/icons/events/lightning.svg" />
          <div>
            <SlpTypography variant="body2-bold" tag="p"
              >{{ item.title }}:
            </SlpTypography>
            <SlpTypography variant="body2" tag="span">{{
              item.speaker
            }}</SlpTypography>
          </div>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.kubecon-lighting-talk {
  background: #f6f3fe;
  border-radius: 4px 4px 90px 4px;

  &__content {
    padding: $spacing-64 $spacing-96;

    @media screen and (max-width: $breakpoint-sm) {
      padding: 0;
      margin: $spacing-32 0;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: $spacing-48;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
  }

  &__grid-item {
    width: 50%;
    padding-bottom: $spacing-24;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }
  &--spaced {
    margin-bottom: $spacing-48;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: $spacing-96;
    }
  }
}
</style>
