<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import {
  NextStep,
  ReportCta,
  SideNavigationVariant,
} from '../../components/common/index.vue';
import { SolutionsCards, CtaBlock } from '../../components/solutions/index.vue';
import {
  OverviewCards,
  StatsTimeline,
} from '../../components/dedicated/index.vue';
import { EducationCaseStudyCarousel } from '../../components/solutions/education/index.vue';
import { BySolutionBenefits } from '../../components/solutions/by-solution/index.vue';
import { Hero } from '../../components/why/index.vue';

export default Vue.extend({
  components: {
    NextStep,
    ReportCta,
    Hero,
    BySolutionBenefits,
    SolutionsCards,
    OverviewCards,
    CtaBlock,
    EducationCaseStudyCarousel,
    SideNavigationVariant,
    StatsTimeline,
  },
  nuxtI18n: false,
  async asyncData({ $content, error }: any) {
    try {
      const doc = await $content('dedicated/index').fetch();
      return { doc };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head() {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
});
</script>

<template>
  <div class="dedicated-wrapper">
    <Hero v-bind="doc.hero" />
    <SideNavigationVariant
      :links="doc.side_navigation_links"
      :button="doc.side_navigation_button"
    >
      <OverviewCards
        id="overview"
        data-slippers-scroll="overview"
        :data="doc.overview_cards"
      />
      <BySolutionBenefits id="benefits" :data="doc.by_solution_benefits" />
      <EducationCaseStudyCarousel
        id="customers"
        :data="doc.education_case_study_carousel"
      />
      <SlpContainer id="analysts">
        <ReportCta :data="doc.report_cta" />
      </SlpContainer>
      <StatsTimeline
        data-slippers-scroll-darkmode="true"
        :data="doc.stats_timeline"
      />
      <SolutionsCards id="resources" :data="doc.solutions_cards" />
    </SideNavigationVariant>
    <CtaBlock :data="doc.cta_block" />
    <NextStep :variant="5" />
  </div>
</template>
<style scoped lang="scss">
.dedicated-wrapper {
  overflow: hidden;
}

div[role='main'] {
  overflow: clip;
}
</style>
